/* Initial Colors */
$shark: #2F3136;
$white: #ffffff;
$black: #000000;


/* Derived Variables */

$theme-dark-grey: $shark;
$theme-white: $white;
$theme-black: $black;

/* Font family */
$font-stack:  "Verdana", "Arial", sans-serif !default;